PyMySQL~=1.0.2
argcomplete~=1.12.3
argparse~=1.4.0
beautifulsoup4==4.9.3
certifi==2021.5.30
chardet==4.0.0
grequests~=0.6.0
idna==2.10
python-dotenv~=0.19.0
requests-futures==1.0.0
requests==2.25.1
selenium==3.141.0
soupsieve==2.2.1
tabulate~=0.8.9
urllib3==1.26.6
webdriver-manager==3.4.2